{% extends 'appbuilder/base.html' %}
{% block content %}
  <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Users <span class="caret"></span>
  </button>
       <=== Select user to show his Group Standing points
    <ul class="dropdown-menu">
      {% for rows in usrs %}
        <li><a href='/GameScores/list/{{rows.usr_name}}'>{{rows.usr_name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if res %}
  <p></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="background-color:#ccffcc">OK +3</th>
          <th style="background-color:#fcb479">No +0</th>
          <th style="background-color:#ffffff"><font color="Red">Pending</th>
          <th scope="col" style="background-color:#3490ba"><font color="white">{{ _('Real Standing') }}</th>
          <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
          <th scope="col" style="background-color:#3490ba"><font color="white">{{ _('User Guess') }}</th>
          <th></th>
        </tr>
        <tr style="background-color:#dddddd">
          {% for i in list %}
            <th scope="col">{{i}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for rows in res %}
        <tr>
          {% for cols in rows %}
          {% if (rows.pts+rows.won+rows.loss+rows.draw == 0) %}
            <td class="table-secondary" scope="row" style="background-color:#ffffff">
          {% elif rows.pos==rows.pos2 %}
            <td scope="row" style="background-color:#ccffcc">
          {% else %}
            <td scope="row" style="background-color:#fcb479">
          {% endif %}
            {{cols}}</td>
          {% endfor %}
        {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
