{% extends 'appbuilder/base.html' %}
{% block content %}
  <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Users <span class="caret"></span>
  </button>
       <=== Select user to show his points
    <ul class="dropdown-menu">
    {% for rows in usrs %}
      <li><a href='/GameScores/f/{{rows.name}}'>{{rows.name}}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% if res %}
  <p></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="background-color:#55FF55">+2 (17 Tot)</th>
          <th style="background-color:#ccffcc">+15</th>
          <th style="background-color:#fcb479">0 Points</th>
          <th style="background-color:#ffffff"><font color="Red">Pending</th>
          <th scope="col" style="background-color:#3490ba"><font color="white">{{ _('Real Scores') }}</th>
          <th></th>
          <th scope="col" style="background-color:#3490ba"><font color="white">{{ _('User Guess') }}</th>
          <th></th>
        </tr>
        <tr style="background-color:#dddddd">
          {% for i in list %}
            <th scope="col">{{i}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for rows in res %}
        <tr>
          {% for cols in rows %}
          {% if (rows.goal1 == None) and ((rows.goal21==none) or (rows.goal22==None))%}
            <td class="table-secondary" scope="row" style="background-color:#ffffff">
          {% elif rows.goal1 == None %}
            <td class="table-secondary" scope="row" style="background-color:#def9fc">
          {% elif (rows.goal21==none) or (rows.goal22==None) %}
            <td scope="row" style="background-color:#f5aaaa">
          {% elif (rows.goal1==rows.goal21) and (rows.goal2==rows.goal22)  %}
            <td scope="row" style="background-color:#55FF55">
          {% elif (((rows.goal1 > rows.goal2) and True) == ((rows.goal21 > rows.goal22) and True)) and (((rows.goal2 > rows.goal1) and True) == ((rows.goal22 > rows.goal21) and True)) %}
            <td scope="row" style="background-color:#ccffcc">
          {% else %}
            <td scope="row" style="background-color:#fcb479">
          {% endif %}
            {{cols}}</td>
          {% endfor %}
        {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
