{% extends "appbuilder/base.html" %}
{% block content %}
<div class="page-header">
  <div class="container">
    <h1>{{_("World Cup Challenge")}}<p></p>
    <small>{{_("Telefonica Employees and Friends")}}</small></h1>
  </div>
</div>
<div class="text-center">
  {% if current_user.is_authenticated() %}
    <h2>{{_('Welcome')}} {{current_user}}</h2>
    <div class="alert alert-warning" role="alert">
      <h4> * ALERT - Score for round of 16 is for 90 or 120 minutes played NO Penalties so Ties are posible - system will close Friday MidNight </h4>
      <!-- {{ dif }} days into the World Cup! -->
    </div>
  {% else %}
    <h3>{{_("Register to see the Menu's and start adding your predictions")}}</h3>
    <h4>{{_("Once you register you will receive an e-mail from jcmarin.sip@gmail.com with a link to confirm registration")}}</h4>
  {% endif %}
  <img src='/static/world_cup_2018.png' height='300' width='300' class="img-thumbnail">
</div>

{% endblock %}
