{% extends 'appbuilder/base.html' %}
{% block content %}
  <h2>General Rules and Scoring System</h2>
  <p>_______________________________________________________________________________________________</p>
  <h4>
    <b>For Inital Round (Round of 32): </b>

    <li>You have to predict results for all 48 Games of Initial Round</li>
    <li>For each correct prediction of winning team (or Tie) you will get 1 points</li>
    <li>Additionally, for each exact Goal results (of both teams) you will get 2 more Points</li>
    <li>Finally for each correct prediction of Group final position you will get 3 more Points</li>
    <p> </p>
    <p>After initial stage & no matter whom you predicted would be in next stage, we will all get to predict results For Round 2 again</p>
    <b>For Round 2 (Round of 16):</b>
    <li>You have to predict results for all 8 Games of Initial Round</li>
    <li>For each correct prediction of winning team (or Tie) you will get 3 points</li>
    <li>Additionally, for each exact Goal results (of both teams) you will get 2 more Points</li>

    <p> </p>
    <p>Again after Round of 16 & no matter whom you predicted would be in quarter-finals, we will all predict again</p>
    <b>For Round 3 (Quarter Finals):</b>

    <li>You have to predict results for all 4 Games of Initial Round</li>
    <li>For each correct prediction of winning team you will get 6 points</li>
    <li>Additionally, for each exact Goal results (of both teams) you will get 2 more Points</li>

    <p> </p>
    <p>After Qurter Finals we will all predict again for Semi Finals</p>
    <b>For Round 4 (Semi-Finals):</b>

    <li>You have to predict results for both games of Semi-Finals</li>
    <li>For each correct prediction of winning team you will get 9 points</li>
    <li>Additionally, for each exact Goal results (of both teams) you will get 2 more Points</li>

    <p> </p>
    <p>Finally we will all get to predict results for the Finals</p>
    <b>For Round 5 (Finals):</b>

    <li>For correct prediction of winning team you will get 15 points</li>

    <p> </p>
    <p>Whomever has the most points wins:
       we will award 70% of pot to 1st Place, 20% to 2nd and 10% to 3rd</P>
    <p>If there are ties then pots will be added and evenly devided between all ties</p>
  </h4>

{% endblock %}
